@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

/* Colours Section */

.btn {
    color: #FAFAFA;
    background-color: #FF8970;
    border: none;
}



/* Navigation Section */

.navbar-nav {
    float: right;
}


/* Jumbotron Section */

.jumbotron-container {
    height: 80vh;
    background: url('../images/jumbo-3.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    margin: 0 auto;
}

.jumbotron h1 {
    
}

/* About Section */

.about-section {
   
}

.about-section h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.about-section .about-button {
    margin-top: 30px;
}


/* Location Section */

.location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}